In [1]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np

In [3]:

brand= []
Type = []
seating = []
model = []
fuel_type=[]
gear_type=[]
price=[]
Location=[]
for i in range(1,11):
    page = requests.get(f"https://ackodrive.com/collection/express-delivery-cars/mumbai/page/{i}/")
    soup = BeautifulSoup(page.text)
    for i in soup.find_all('div',class_='styles__Wrapper-sc-8077a65d-0 fZOnVd'):
        rm= i.find('h2',class_='styles__ModelTitle-sc-aa3bd0b2-4 ikEBAq')
        if rm:
            b=re.findall('^[A-Za-z]+',rm.text)
            if b:
                brand.append(b[0])
            else:
                brand.append(np.nan)
                
            m = re.findall("^[A-Za-z]+\s(.+)",rm.text)
            if m:
                model.append(m[0])
            else:
                model.append(np.nan)
        p=i.find('div',class_='styles__Price-sc-aa3bd0b2-18 bzmdsn')
        if p:
            price.append(p.text)
        else:
            price.append(np.nan)
        reg = i.find('div','styles__VariantInfo-sc-aa3bd0b2-12 kCNdrj')
        if reg:
            f = re.findall('Petrol|Diesel|CNG|Electric',reg.text)
            if f:
                fuel_type .append(f[0])
            else:
                fuel_type.append(np.nan)
            g=re.findall('Manual|Automatic',reg.text)
            if g:
                gear_type.append(g[0])
            else:
                gear_type.append(np.nan)
        regex = i.find('div',class_='styles__ModelInfo-sc-aa3bd0b2-8 cEyrJI') 
        if regex:
            t = re.findall(r'^[A-Za-z]+',regex.text)
            if len(t)>0:
                Type.append(t[0])
            else:
                Type.append(np.nan)
            s = re.findall('\d\sSeater',regex.text)
            if s:
                seating.append(s[0])
            else:
                seating.append(np.nan)
            v = re.findall('Seater(.*)',regex.text)
        l = i.find('div',class_='styles__CityName-sc-aa3bd0b2-17 bysq')
        if l:
            lo = re.findall('in\s(.*)',l.text)
            if lo: 
                Location.append(lo[0])
            else:
                Location.append(np.nan)

<>:21: SyntaxWarning: invalid escape sequence '\s'
<>:50: SyntaxWarning: invalid escape sequence '\d'
<>:58: SyntaxWarning: invalid escape sequence '\s'
<>:21: SyntaxWarning: invalid escape sequence '\s'
<>:50: SyntaxWarning: invalid escape sequence '\d'
<>:58: SyntaxWarning: invalid escape sequence '\s'
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\2112731254.py:21: SyntaxWarning: invalid escape sequence '\s'
  m = re.findall("^[A-Za-z]+\s(.+)",rm.text)
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\2112731254.py:50: SyntaxWarning: invalid escape sequence '\d'
  s = re.findall('\d\sSeater',regex.text)
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\2112731254.py:58: SyntaxWarning: invalid escape sequence '\s'
  lo = re.findall('in\s(.*)',l.text)

In [5]:
import pandas as pd
mumbai= pd.DataFrame({'Brand':brand,'Model':model,'Type':Type,'Seats':seating,'Price':price,'Fuel':fuel_type,'Gear_type':gear_type,'Location':Location})

In [7]:
mumbai

,Brand,Model,Type,Seats,Price,Fuel,Gear_type,Location
0,Tata,Nexon,SUV,5 Seater,₹10.37 L,Petrol,Manual,Mumbai
1,Maruti,Suzuki Baleno,Hatchback,5 Seater,₹9.70 L,CNG,Manual,Mumbai
2,Tata,Punch,SUV,5 Seater,₹7.29 L,Petrol,Manual,Mumbai
3,Maruti,Suzuki Swift,Hatchback,5 Seater,₹8.57 L,Petrol,Manual,Mumbai
4,Hyundai,Grand i10 Nios,Hatchback,5 Seater,₹9.48 L,Petrol,Automatic,Mumbai
...,...,...,...,...,...,...,...,...
56,Tata,Safari,SUV,7 Seater,₹27.62 L,Diesel,Manual,Mumbai
57,Hyundai,Alcazar,SUV,7 Seater,₹25.54 L,Petrol,Automatic,Mumbai
58,Tata,Tiago,Hatchback,5 Seater,₹8.07 L,Petrol,Automatic,Mumbai
59,Tata,Tiago EV,Hatchback,5 Seater,₹10.78 L,Electric,Automatic,Mumbai
60,Tata,Tigor,Compact,5 Seater,₹10.01 L,CNG,Automatic,Mumbai

In [9]:
brand= []
Type = []
seating = []
model = []
fuel_type=[]
gear_type=[]
price=[]
Location=[]
for i in range(1,12):
    page = requests.get(f"https://ackodrive.com/collection/express-delivery-cars/chennai/page/{i}/")
    soup = BeautifulSoup(page.text)
    for i in soup.find_all('div',class_='styles__Wrapper-sc-8077a65d-0 fZOnVd'):
        rm= i.find('h2',class_='styles__ModelTitle-sc-aa3bd0b2-4 ikEBAq')
        if rm:
            b=re.findall('^[A-Za-z]+',rm.text)
            if b:
                brand.append(b[0])
            else:
                brand.append(np.nan)
                
            m = re.findall("^[A-Za-z]+\s(.+)",rm.text)
            if m:
                model.append(m[0])
            else:
                model.append(np.nan)
        p=i.find('div',class_='styles__Price-sc-aa3bd0b2-18 bzmdsn')
        if p:
            price.append(p.text)
        else:
            price.append(np.nan)
        reg = i.find('div','styles__VariantInfo-sc-aa3bd0b2-12 kCNdrj')
        if reg:
            f = re.findall('Petrol|Diesel|CNG|Electric',reg.text)
            if f:
                fuel_type .append(f[0])
            else:
                fuel_type.append(np.nan)
            g=re.findall('Manual|Automatic',reg.text)
            if g:
                gear_type.append(g[0])
            else:
                gear_type.append(np.nan)
        regex = i.find('div',class_='styles__ModelInfo-sc-aa3bd0b2-8 cEyrJI') 
        if regex:
            t = re.findall(r'^[A-Za-z]+',regex.text)
            if len(t)>0:
                Type.append(t[0])
            else:
                Type.append(np.nan)
            s = re.findall('\d\sSeater',regex.text)
            if s:
                seating.append(s[0])
            else:
                seating.append(np.nan)
            v = re.findall('Seater(.*)',regex.text)
        l = i.find('div',class_='styles__CityName-sc-aa3bd0b2-17 bysq')
        if l:
            lo = re.findall('in\s(.*)',l.text)
            if lo: 
                Location.append(lo[0])
            else:
                Location.append(np.nan)

<>:21: SyntaxWarning: invalid escape sequence '\s'
<>:50: SyntaxWarning: invalid escape sequence '\d'
<>:58: SyntaxWarning: invalid escape sequence '\s'
<>:21: SyntaxWarning: invalid escape sequence '\s'
<>:50: SyntaxWarning: invalid escape sequence '\d'
<>:58: SyntaxWarning: invalid escape sequence '\s'
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\2015844801.py:21: SyntaxWarning: invalid escape sequence '\s'
  m = re.findall("^[A-Za-z]+\s(.+)",rm.text)
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\2015844801.py:50: SyntaxWarning: invalid escape sequence '\d'
  s = re.findall('\d\sSeater',regex.text)
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\2015844801.py:58: SyntaxWarning: invalid escape sequence '\s'
  lo = re.findall('in\s(.*)',l.text)

In [11]:
chennai = pd.DataFrame({'Brand':brand,'Model':model,
                        'Type':Type,'Seats':seating,'Price':price,
                        'Fuel':fuel_type,'Gear_type':gear_type,'Location':Location})

In [13]:
chennai

,Brand,Model,Type,Seats,Price,Fuel,Gear_type,Location
0,Tata,Nexon,SUV,5 Seater,₹12.93 L,Diesel,Manual,Chennai
1,Tata,Punch,SUV,5 Seater,₹9.96 L,Petrol,Automatic,Chennai
2,Hyundai,Grand i10 Nios,Hatchback,5 Seater,₹7.23 L,Petrol,Manual,Chennai
3,Hyundai,Aura,Sedan,5 Seater,₹9.08 L,CNG,Manual,Chennai
4,Maruti,Suzuki Wagon R,Hatchback,5 Seater,₹7.23 L,Petrol,Manual,Chennai
5,Tata,Altroz,Hatchback,5 Seater,₹8.04 L,Petrol,Manual,Chennai
6,Hyundai,Venue,SUV,5 Seater,₹9.52 L,Petrol,Manual,Chennai
7,MG,Astor,SUV,5 Seater,₹11.95 L,Petrol,Manual,Chennai
8,Renault,Kiger,SUV,5 Seater,₹7.21 L,Petrol,Manual,Chennai
9,Maruti,Suzuki New Grand Vitara,SUV,5 Seater,₹16.11 L,CNG,Manual,Chennai
10,Tata,Nexon EV,SUV,5 Seater,₹16.34 L,Electric,Automatic,Chennai
11,Hyundai,Venue N-Line,SUV,5 Seater,₹16.38 L,Petrol,Manual,Chennai
12,Maruti,Suzuki Alto K10,Hatchback,5 Seater,₹6.54 L,Petrol,Manual,Chennai
13,Maruti,Suzuki Celerio,Hatchback,5 Seater,₹8.13 L,Petrol,Automatic,Chennai
14,Nissan,Magnite (2020-2024),SUV,5 Seater,₹13.68 L,Petrol,Automatic,Chennai
15,Maruti,Suzuki Brezza,SUV,5 Seater,₹10.10 L,Petrol,Manual,Chennai
16,Renault,Kwid,Hatchback,5 Seater,₹5.98 L,Petrol,Manual,Chennai
17,Hyundai,i20 N Line,Hatchback,5 Seater,₹15.44 L,Petrol,Automatic,Chennai
18,Hyundai,Creta,SUV,5 Seater,₹13.90 L,Petrol,Manual,Chennai
19,Renault,Triber,MPV,7 Seater,₹8.15 L,Petrol,Manual,Chennai
20,Maruti,Suzuki XL6,SUV,6 Seater,₹15.40 L,CNG,Manual,Chennai
21,Maruti,Suzuki Ciaz,Sedan,5 Seater,₹13.63 L,Petrol,Automatic,Chennai
22,Mahindra,XUV700,SUV,5 Seater,₹20.75 L,Petrol,Manual,Chennai
23,Maruti,Suzuki Eeco,Minivan,5 Seater,₹6.85 L,Petrol,Manual,Chennai
24,Mahindra,Scorpio-N,SUV,7 Seater,₹17.78 L,Petrol,Manual,Chennai
25,Hyundai,Exter,SUV,5 Seater,₹9.10 L,Petrol,Manual,Chennai
26,Maruti,Suzuki Fronx,SUV,5 Seater,₹11.35 L,Petrol,Manual,Chennai
27,Hyundai,Verna,Sedan,5 Seater,₹15.45 L,Petrol,Manual,Chennai
28,Kia,Seltos,SUV,5 Seater,₹25.28 L,Diesel,Automatic,Chennai
29,Kia,Sonet,SUV,5 Seater,₹9.95 L,Petrol,Manual,Chennai
30,Kia,Carens,SUV,7 Seater,₹13.92 L,Petrol,Manual,Chennai
31,MG,Comet EV,Hatchback,4 Seater,₹9.37 L,Electric,Automatic,Chennai
32,MG,Hector,SUV,5 Seater,₹17.47 L,Petrol,Manual,Chennai
33,MG,Hector Plus,SUV,6 Seater,₹21.98 L,Diesel,Manual,Chennai
34,MG,ZS EV,SUV,5 Seater,₹20.43 L,Electric,Automatic,Chennai
35,Maruti,Suzuki S-Presso,SUV,5 Seater,₹6.22 L,Petrol,Manual,Chennai
36,Tata,Safari,SUV,6 Seater,₹32.38 L,Diesel,Manual,Chennai
37,Hyundai,i20,Hatchback,5 Seater,₹10.09 L,Petrol,Manual,Chennai
38,Hyundai,Creta N Line,SUV,5 Seater,₹21.25 L,Petrol,Manual,Chennai
39,Maruti,Suzuki Baleno,Hatchback,5 Seater,₹9.87 L,CNG,Manual,Chennai
40,Tata,Punch EV,SUV,5 Seater,₹13.63 L,Electric,Automatic,Chennai
41,Tata,Tiago,Hatchback,5 Seater,₹6.93 L,Petrol,Manual,Chennai
42,Tata,Tiago EV,Hatchback,5 Seater,₹9.53 L,Electric,Automatic,Chennai
43,Maruti,Suzuki Ignis,Hatchback,5 Seater,₹6.93 L,Petrol,Manual,Chennai
44,Mahindra,XUV 3XO,SUV,5 Seater,₹15.81 L,Petrol,Manual,Chennai
45,Maruti,Suzuki Swift,Hatchback,5 Seater,₹9.68 L,CNG,Manual,Chennai
46,Tata,Tigor,Compact,5 Seater,₹8.10 L,Petrol,Manual,Chennai
47,Tata,Curvv EV,SUV,5 Seater,₹19.73 L,Electric,Automatic,Chennai
48,Tata,Curvv,SUV,5 Seater,₹15.44 L,Petrol,Manual,Chennai
49,Hyundai,Alcazar,SUV,6 Seater,₹27.18 L,Petrol,Automatic,Chennai
50,MG,Windsor EV,SUV,5 Seater,₹15.18 L,Electric,Automatic,Chennai
51,Maruti,Suzuki Dzire,Sedan,5 Seater,₹10.56 L,Petrol,Manual,Chennai

In [15]:
brand= []
Type = []
seating = []
model = []
fuel_type=[]
gear_type=[]
price=[]
Location=[]
for i in range(1,14):
    page = requests.get(f"https://ackodrive.com/collection/express-delivery-cars/delhi/page/{i}/")
    soup = BeautifulSoup(page.text)
    for i in soup.find_all('div',class_='styles__Wrapper-sc-8077a65d-0 fZOnVd'):
        rm= i.find('h2',class_='styles__ModelTitle-sc-aa3bd0b2-4 ikEBAq')
        if rm:
            b=re.findall('^[A-Za-z]+',rm.text)
            if b:
                brand.append(b[0])
            else:
                brand.append(np.nan)
                
            m = re.findall("^[A-Za-z]+\s(.+)",rm.text)
            if m:
                model.append(m[0])
            else:
                model.append(np.nan)
        p=i.find('div',class_='styles__Price-sc-aa3bd0b2-18 bzmdsn')
        if p:
            price.append(p.text)
        else:
            price.append(np.nan)
        reg = i.find('div','styles__VariantInfo-sc-aa3bd0b2-12 kCNdrj')
        if reg:
            f = re.findall('Petrol|Diesel|CNG|Electric',reg.text)
            if f:
                fuel_type .append(f[0])
            else:
                fuel_type.append(np.nan)
            g=re.findall('Manual|Automatic',reg.text)
            if g:
                gear_type.append(g[0])
            else:
                gear_type.append(np.nan)
        regex = i.find('div',class_='styles__ModelInfo-sc-aa3bd0b2-8 cEyrJI') 
        if regex:
            t = re.findall(r'^[A-Za-z]+',regex.text)
            if len(t)>0:
                Type.append(t[0])
            else:
                Type.append(np.nan)
            s = re.findall('\d\sSeater',regex.text)
            if s:
                seating.append(s[0])
            else:
                seating.append(np.nan)
            v = re.findall('Seater(.*)',regex.text)
        l = i.find('div',class_='styles__CityName-sc-aa3bd0b2-17 bysq')
        if l:
            lo = re.findall('in\s(.*)',l.text)
            if lo: 
                Location.append(lo[0])
            else:
                Location.append(np.nan)

<>:21: SyntaxWarning: invalid escape sequence '\s'
<>:50: SyntaxWarning: invalid escape sequence '\d'
<>:58: SyntaxWarning: invalid escape sequence '\s'
<>:21: SyntaxWarning: invalid escape sequence '\s'
<>:50: SyntaxWarning: invalid escape sequence '\d'
<>:58: SyntaxWarning: invalid escape sequence '\s'
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\1089355319.py:21: SyntaxWarning: invalid escape sequence '\s'
  m = re.findall("^[A-Za-z]+\s(.+)",rm.text)
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\1089355319.py:50: SyntaxWarning: invalid escape sequence '\d'
  s = re.findall('\d\sSeater',regex.text)
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\1089355319.py:58: SyntaxWarning: invalid escape sequence '\s'
  lo = re.findall('in\s(.*)',l.text)

In [17]:
delhi = pd.DataFrame({'Brand':brand,'Model':model,'Type':Type,'Seats':seating,'Price':price,'Fuel':fuel_type,'Gear_type':gear_type,'Location':Location})

In [19]:
delhi

,Brand,Model,Type,Seats,Price,Fuel,Gear_type,Location
0,Tata,Nexon,SUV,5 Seater,₹9.03 L,Petrol,Manual,Delhi
1,Tata,Curvv EV,SUV,5 Seater,₹20.37 L,Electric,Automatic,Delhi
2,Maruti,Suzuki Baleno,Hatchback,5 Seater,₹9.43 L,Petrol,Manual,Delhi
3,Tata,Punch,SUV,5 Seater,₹8.28 L,CNG,Manual,Delhi
4,Maruti,Suzuki Swift,Hatchback,5 Seater,₹9.16 L,CNG,Manual,Delhi
...,...,...,...,...,...,...,...,...
60,Hyundai,Creta Electric,SUV,5 Seater,₹25.83 L,Electric,Automatic,Delhi
61,Hyundai,Alcazar,SUV,7 Seater,₹17.67 L,Petrol,Manual,Delhi
62,Nissan,Magnite,SUV,5 Seater,₹8.19 L,Petrol,Manual,Delhi
63,Maruti,Suzuki Dzire,Sedan,5 Seater,₹8.76 L,Petrol,Manual,Delhi
64,Honda,Amaze,Sedan,5 Seater,₹9.17 L,Petrol,Manual,Delhi

In [21]:
brand= []
Type = []
seating = []
model = []
fuel_type=[]
gear_type=[]
price=[]
Location=[]
for i in range(1,15):
    page = requests.get(f"https://ackodrive.com/collection/express-delivery-cars/bangalore/page/{i}/")
    soup = BeautifulSoup(page.text)
    for i in soup.find_all('div',class_='styles__Wrapper-sc-8077a65d-0 fZOnVd'):
        rm= i.find('h2',class_='styles__ModelTitle-sc-aa3bd0b2-4 ikEBAq')
        if rm:
            b=re.findall('^[A-Za-z]+',rm.text)
            if b:
                brand.append(b[0])
            else:
                brand.append(np.nan)
                
            m = re.findall("^[A-Za-z]+\s(.+)",rm.text)
            if m:
                model.append(m[0])
            else:
                model.append(np.nan)
        p=i.find('div',class_='styles__Price-sc-aa3bd0b2-18 bzmdsn')
        if p:
            price.append(p.text)
        else:
            price.append(np.nan)
        reg = i.find('div','styles__VariantInfo-sc-aa3bd0b2-12 kCNdrj')
        if reg:
            f = re.findall('Petrol|Diesel|CNG|Electric',reg.text)
            if f:
                fuel_type .append(f[0])
            else:
                fuel_type.append(np.nan)
            g=re.findall('Manual|Automatic',reg.text)
            if g:
                gear_type.append(g[0])
            else:
                gear_type.append(np.nan)
        regex = i.find('div',class_='styles__ModelInfo-sc-aa3bd0b2-8 cEyrJI') 
        if regex:
            t = re.findall(r'^[A-Za-z]+',regex.text)
            if len(t)>0:
                Type.append(t[0])
            else:
                Type.append(np.nan)
            s = re.findall('\d\sSeater',regex.text)
            if s:
                seating.append(s[0])
            else:
                seating.append(np.nan)
            v = re.findall('Seater(.*)',regex.text)
        l = i.find('div',class_='styles__CityName-sc-aa3bd0b2-17 bysq')
        if l:
            lo = re.findall('in\s(.*)',l.text)
            if lo: 
                Location.append(lo[0])
            else:
                Location.append(np.nan)

<>:21: SyntaxWarning: invalid escape sequence '\s'
<>:50: SyntaxWarning: invalid escape sequence '\d'
<>:58: SyntaxWarning: invalid escape sequence '\s'
<>:21: SyntaxWarning: invalid escape sequence '\s'
<>:50: SyntaxWarning: invalid escape sequence '\d'
<>:58: SyntaxWarning: invalid escape sequence '\s'
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\1087520374.py:21: SyntaxWarning: invalid escape sequence '\s'
  m = re.findall("^[A-Za-z]+\s(.+)",rm.text)
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\1087520374.py:50: SyntaxWarning: invalid escape sequence '\d'
  s = re.findall('\d\sSeater',regex.text)
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\1087520374.py:58: SyntaxWarning: invalid escape sequence '\s'
  lo = re.findall('in\s(.*)',l.text)

In [23]:
banglore= pd.DataFrame({'Brand':brand,'Model':model,'Type':Type,
                        'Seats':seating,'Price':price,'Fuel':fuel_type,
                        'Gear_type':gear_type,'Location':Location})

In [25]:
banglore

,Brand,Model,Type,Seats,Price,Fuel,Gear_type,Location
0,Tata,Nexon,SUV,5 Seater,₹11.23 L,Petrol,Manual,Bangalore
1,Tata,Punch,SUV,5 Seater,₹8.38 L,Petrol,Manual,Bangalore
2,Maruti,Suzuki Swift,Hatchback,5 Seater,₹10.13 L,Petrol,Manual,Bangalore
3,Hyundai,Grand i10 Nios,Hatchback,5 Seater,₹7.39 L,Petrol,Manual,Bangalore
4,Hyundai,Aura,Sedan,5 Seater,₹9.29 L,CNG,Manual,Bangalore
5,Tata,Altroz,Hatchback,5 Seater,₹8.18 L,Petrol,Manual,Bangalore
6,Hyundai,Venue,SUV,5 Seater,₹10.20 L,Petrol,Manual,Bangalore
7,Toyota,Glanza,Hatchback,5 Seater,₹9.99 L,Petrol,Automatic,Bangalore
8,Hyundai,Creta,SUV,5 Seater,₹14.03 L,Petrol,Manual,Bangalore
9,Maruti,Suzuki Dzire,Sedan,5 Seater,₹10.91 L,Petrol,Manual,Bangalore
10,Honda,City,Sedan,5 Seater,₹16.39 L,Petrol,Manual,Bangalore
11,Hyundai,i20 N Line,Hatchback,5 Seater,₹15.59 L,Petrol,Automatic,Bangalore
12,Tata,Nexon EV,SUV,5 Seater,₹17.17 L,Electric,Automatic,Bangalore
13,Maruti,Suzuki S-Presso,SUV,5 Seater,₹6.74 L,Petrol,Manual,Bangalore
14,Mahindra,Scorpio-N,SUV,7 Seater,₹17.65 L,Petrol,Manual,Bangalore
15,Maruti,Suzuki XL6,SUV,6 Seater,₹15.86 L,Petrol,Manual,Bangalore
16,Hyundai,Venue N-Line,SUV,5 Seater,₹15.25 L,Petrol,Manual,Bangalore
17,Maruti,Suzuki New Grand Vitara,SUV,5 Seater,₹24.95 L,Petrol,Automatic,Bangalore
18,Toyota,Urban Cruiser Hyryder,SUV,5 Seater,₹13.89 L,Petrol,Manual,Bangalore
19,Skoda,Kushaq,SUV,5 Seater,₹16.87 L,Petrol,Automatic,Bangalore
20,Kia,Seltos,SUV,5 Seater,₹19.55 L,Petrol,Manual,Bangalore
21,Kia,Sonet,SUV,5 Seater,₹10.17 L,Petrol,Manual,Bangalore
22,Hyundai,Exter,SUV,5 Seater,₹9.75 L,Petrol,Manual,Bangalore
23,Maruti,Suzuki Fronx,SUV,5 Seater,₹10.76 L,Petrol,Automatic,Bangalore
24,MG,Astor,SUV,5 Seater,₹12.21 L,Petrol,Manual,Bangalore
25,Hyundai,Verna,Sedan,5 Seater,₹18.13 L,Petrol,Automatic,Bangalore
26,Tata,Harrier,SUV,5 Seater,₹19.01 L,Diesel,Manual,Bangalore
27,Mahindra,XUV400,SUV,5 Seater,₹18.60 L,Electric,Automatic,Bangalore
28,MG,Hector,SUV,5 Seater,₹23.30 L,Diesel,Manual,Bangalore
29,MG,Hector Plus,SUV,6 Seater,₹22.01 L,Diesel,Manual,Bangalore
30,Toyota,Rumion,SUV,7 Seater,₹13.00 L,Petrol,Manual,Bangalore
31,Honda,Elevate,SUV,5 Seater,₹15.88 L,Petrol,Manual,Bangalore
32,Volkswagen,Taigun,SUV,5 Seater,₹17.43 L,Petrol,Manual,Bangalore
33,Volkswagen,Virtus,Sedan,5 Seater,₹18.66 L,Petrol,Automatic,Bangalore
34,Kia,Carens,SUV,7 Seater,₹22.77 L,Diesel,Manual,Bangalore
35,Mahindra,XUV700,SUV,7 Seater,₹18.26 L,Petrol,Manual,Bangalore
36,Skoda,Slavia,Sedan,5 Seater,₹18.97 L,Petrol,Automatic,Bangalore
37,Maruti,Suzuki Wagon R,Hatchback,5 Seater,₹6.78 L,Petrol,Manual,Bangalore
38,Maruti,Suzuki Celerio,Hatchback,5 Seater,₹7.14 L,Petrol,Manual,Bangalore
39,Mahindra,XUV 3XO,SUV,5 Seater,₹14.84 L,Diesel,Automatic,Bangalore
40,Maruti,Suzuki Alto K10,Hatchback,5 Seater,₹6.56 L,Petrol,Manual,Bangalore
41,Toyota,Urban Cruiser Taisor,SUV,5 Seater,₹10.36 L,Petrol,Manual,Bangalore
42,MG,ZS EV,SUV,5 Seater,₹20.29 L,Electric,Automatic,Bangalore
43,Maruti,Suzuki Baleno,Hatchback,5 Seater,₹10.28 L,CNG,Manual,Bangalore
44,Hyundai,Creta N Line,SUV,5 Seater,₹23.14 L,Petrol,Automatic,Bangalore
45,Maruti,Suzuki Ignis,Hatchback,5 Seater,₹7.18 L,Petrol,Manual,Bangalore
46,Tata,Punch EV,SUV,5 Seater,₹12.06 L,Electric,Automatic,Bangalore
47,MG,Comet EV,Hatchback,4 Seater,₹8.89 L,Electric,Automatic,Bangalore
48,Maruti,Suzuki Ciaz,Sedan,5 Seater,₹12.18 L,Petrol,Manual,Bangalore
49,Hyundai,i20,Hatchback,5 Seater,₹9.56 L,Petrol,Manual,Bangalore
50,Hyundai,Alcazar,SUV,7 Seater,₹26.45 L,Petrol,Automatic,Bangalore
51,Tata,Curvv,SUV,5 Seater,₹14.07 L,Petrol,Manual,Bangalore
52,MG,Windsor EV,SUV,5 Seater,₹15.02 L,Electric,Automatic,Bangalore
53,Mahindra,Thar,SUV,4 Seater,₹20.00 L,Diesel,Manual,Bangalore
54,Tata,Safari,SUV,6 Seater,₹21.93 L,Diesel,Manual,Bangalore
55,Tata,Curvv EV,SUV,5 Seater,₹19.81 L,Electric,Automatic,Bangalore
56,Honda,Amaze,Sedan,5 Seater,₹9.74 L,Petrol,Manual,Bangalore
57,Tata,Tiago,Hatchback,5 Seater,₹7.11 L,Petrol,Manual,Bangalore
58,Tata,Tiago EV,Hatchback,5 Seater,₹10.98 L,Electric,Automatic,Bangalore
59,Tata,Tigor,Compact,5 Seater,₹10.49 L,Petrol,Manual,Bangalore

In [27]:
brand= []
Type = []
seating = []
model = []
fuel_type=[]
gear_type=[]
price=[]
Location=[]
for i in range(1,11):
    page = requests.get(f"https://ackodrive.com/collection/express-delivery-cars/gurgaon/page/{i}/")
    soup = BeautifulSoup(page.text)
    for i in soup.find_all('div',class_='styles__Wrapper-sc-8077a65d-0 fZOnVd'):
        rm= i.find('h2',class_='styles__ModelTitle-sc-aa3bd0b2-4 ikEBAq')
        if rm:
            b=re.findall('^[A-Za-z]+',rm.text)
            if b:
                brand.append(b[0])
            else:
                brand.append(np.nan)
                
            m = re.findall("^[A-Za-z]+\s(.+)",rm.text)
            if m:
                model.append(m[0])
            else:
                model.append(np.nan)
        p=i.find('div',class_='styles__Price-sc-aa3bd0b2-18 bzmdsn')
        if p:
            price.append(p.text)
        else:
            price.append(np.nan)
        reg = i.find('div','styles__VariantInfo-sc-aa3bd0b2-12 kCNdrj')
        if reg:
            f = re.findall('Petrol|Diesel|CNG|Electric',reg.text)
            if f:
                fuel_type .append(f[0])
            else:
                fuel_type.append(np.nan)
            g=re.findall('Manual|Automatic',reg.text)
            if g:
                gear_type.append(g[0])
            else:
                gear_type.append(np.nan)
        regex = i.find('div',class_='styles__ModelInfo-sc-aa3bd0b2-8 cEyrJI') 
        if regex:
            t = re.findall(r'^[A-Za-z]+',regex.text)
            if len(t)>0:
                Type.append(t[0])
            else:
                Type.append(np.nan)
            s = re.findall('\d\sSeater',regex.text)
            if s:
                seating.append(s[0])
            else:
                seating.append(np.nan)
            v = re.findall('Seater(.*)',regex.text)
        l = i.find('div',class_='styles__CityName-sc-aa3bd0b2-17 bysq')
        if l:
            lo = re.findall('in\s(.*)',l.text)
            if lo: 
                Location.append(lo[0])
            else:
                Location.append(np.nan)

<>:21: SyntaxWarning: invalid escape sequence '\s'
<>:50: SyntaxWarning: invalid escape sequence '\d'
<>:58: SyntaxWarning: invalid escape sequence '\s'
<>:21: SyntaxWarning: invalid escape sequence '\s'
<>:50: SyntaxWarning: invalid escape sequence '\d'
<>:58: SyntaxWarning: invalid escape sequence '\s'
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\1214669840.py:21: SyntaxWarning: invalid escape sequence '\s'
  m = re.findall("^[A-Za-z]+\s(.+)",rm.text)
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\1214669840.py:50: SyntaxWarning: invalid escape sequence '\d'
  s = re.findall('\d\sSeater',regex.text)
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\1214669840.py:58: SyntaxWarning: invalid escape sequence '\s'
  lo = re.findall('in\s(.*)',l.text)

In [29]:
Gurgaon= pd.DataFrame({'Brand':brand,'Model':model,'Type':Type,
                        'Seats':seating,'Price':price,'Fuel':fuel_type,
                        'Gear_type':gear_type,'Location':Location})

In [31]:
Gurgaon

,Brand,Model,Type,Seats,Price,Fuel,Gear_type,Location
0,Tata,Nexon,SUV,5 Seater,₹12.50 L,Petrol,Manual,Gurgaon
1,Tata,Curvv EV,SUV,5 Seater,₹21.87 L,Electric,Automatic,Gurgaon
2,Maruti,Suzuki Baleno,Hatchback,5 Seater,₹9.19 L,Petrol,Automatic,Gurgaon
3,Tata,Punch,SUV,5 Seater,₹8.30 L,CNG,Manual,Gurgaon
4,Hyundai,Grand i10 Nios,Hatchback,5 Seater,₹6.67 L,Petrol,Manual,Gurgaon
...,...,...,...,...,...,...,...,...
57,Tata,Tiago,Hatchback,5 Seater,₹5.61 L,Petrol,Manual,Gurgaon
58,Hyundai,Alcazar,SUV,7 Seater,₹16.88 L,Petrol,Manual,Gurgaon
59,Nissan,Magnite,SUV,5 Seater,₹8.24 L,Petrol,Manual,Gurgaon
60,Maruti,Suzuki Dzire,Sedan,5 Seater,₹9.90 L,CNG,Manual,Gurgaon
61,Honda,Amaze,Sedan,5 Seater,₹9.26 L,Petrol,Manual,Gurgaon

In [33]:
brand= []
Type = []
seating = []
model = []
fuel_type=[]
gear_type=[]
price=[]
Location=[]
for i in range(1,21):
    page = requests.get(f"https://ackodrive.com/collection/express-delivery-cars/pune/page/{i}/")
    soup = BeautifulSoup(page.text)
    for i in soup.find_all('div',class_='styles__Wrapper-sc-8077a65d-0 fZOnVd'):
        rm= i.find('h2',class_='styles__ModelTitle-sc-aa3bd0b2-4 ikEBAq')
        if rm:
            b=re.findall('^[A-Za-z]+',rm.text)
            if b:
                brand.append(b[0])
            else:
                brand.append(np.nan)
                
            m = re.findall("^[A-Za-z]+\s(.+)",rm.text)
            if m:
                model.append(m[0])
            else:
                model.append(np.nan)
        p=i.find('div',class_='styles__Price-sc-aa3bd0b2-18 bzmdsn')
        if p:
            price.append(p.text)
        else:
            price.append(np.nan)
        reg = i.find('div','styles__VariantInfo-sc-aa3bd0b2-12 kCNdrj')
        if reg:
            f = re.findall('Petrol|Diesel|CNG|Electric',reg.text)
            if f:
                fuel_type .append(f[0])
            else:
                fuel_type.append(np.nan)
            g=re.findall('Manual|Automatic',reg.text)
            if g:
                gear_type.append(g[0])
            else:
                gear_type.append(np.nan)
        regex = i.find('div',class_='styles__ModelInfo-sc-aa3bd0b2-8 cEyrJI') 
        if regex:
            t = re.findall(r'^[A-Za-z]+',regex.text)
            if len(t)>0:
                Type.append(t[0])
            else:
                Type.append(np.nan)
            s = re.findall('\d\sSeater',regex.text)
            if s:
                seating.append(s[0])
            else:
                seating.append(np.nan)
            v = re.findall('Seater(.*)',regex.text)
        l = i.find('div',class_='styles__CityName-sc-aa3bd0b2-17 bysq')
        if l:
            lo = re.findall('in\s(.*)',l.text)
            if lo: 
                Location.append(lo[0])
            else:
                Location.append(np.nan)

<>:21: SyntaxWarning: invalid escape sequence '\s'
<>:50: SyntaxWarning: invalid escape sequence '\d'
<>:58: SyntaxWarning: invalid escape sequence '\s'
<>:21: SyntaxWarning: invalid escape sequence '\s'
<>:50: SyntaxWarning: invalid escape sequence '\d'
<>:58: SyntaxWarning: invalid escape sequence '\s'
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\140254676.py:21: SyntaxWarning: invalid escape sequence '\s'
  m = re.findall("^[A-Za-z]+\s(.+)",rm.text)
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\140254676.py:50: SyntaxWarning: invalid escape sequence '\d'
  s = re.findall('\d\sSeater',regex.text)
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\140254676.py:58: SyntaxWarning: invalid escape sequence '\s'
  lo = re.findall('in\s(.*)',l.text)

In [35]:
pune= pd.DataFrame({'Brand':brand,'Model':model,'Type':Type,
                        'Seats':seating,'Price':price,'Fuel':fuel_type,
                        'Gear_type':gear_type,'Location':Location})

In [37]:
pune

,Brand,Model,Type,Seats,Price,Fuel,Gear_type,Location
0,Tata,Nexon,SUV,5 Seater,₹10.50 L,Petrol,Manual,Pune
1,Maruti,Suzuki Baleno,Hatchback,5 Seater,₹10.73 L,CNG,Manual,Pune
2,Tata,Curvv EV,SUV,5 Seater,₹18.77 L,Electric,Automatic,Pune
3,Hyundai,Grand i10 Nios,Hatchback,5 Seater,₹8.86 L,Petrol,Manual,Pune
4,Hyundai,Aura,Sedan,5 Seater,₹8.81 L,Petrol,Manual,Pune
5,Tata,Altroz,Hatchback,5 Seater,₹10.18 L,Petrol,Automatic,Pune
6,Hyundai,Venue,SUV,5 Seater,₹9.45 L,Petrol,Manual,Pune
7,Hyundai,Creta,SUV,5 Seater,₹19.23 L,Petrol,Manual,Pune
8,Honda,City,Sedan,5 Seater,₹17.00 L,Petrol,Automatic,Pune
9,Maruti,Suzuki Dzire (2020-2024),Sedan,5 Seater,₹11.21 L,Petrol,Automatic,Pune
10,Renault,Kiger,SUV,5 Seater,₹10.34 L,Petrol,Manual,Pune
11,Hyundai,i20 N Line,Hatchback,5 Seater,₹13.71 L,Petrol,Manual,Pune
12,Renault,Triber,MPV,7 Seater,₹10.28 L,Petrol,Automatic,Pune
13,Tata,Nexon EV,SUV,5 Seater,₹16.16 L,Electric,Automatic,Pune
14,Maruti,Suzuki New Grand Vitara,SUV,5 Seater,₹13.22 L,Petrol,Manual,Pune
15,Hyundai,Venue N-Line,SUV,5 Seater,₹16.48 L,Petrol,Automatic,Pune
16,Honda,Amaze (2021-2024),Sedan,5 Seater,₹11.56 L,Petrol,Automatic,Pune
17,Maruti,Suzuki XL6,SUV,6 Seater,₹14.58 L,CNG,Manual,Pune
18,Maruti,Suzuki Wagon R,Hatchback,5 Seater,₹6.77 L,Petrol,Manual,Pune
19,Skoda,Slavia,Sedan,5 Seater,₹19.04 L,Petrol,Manual,Pune
20,Skoda,Kushaq,SUV,5 Seater,₹18.45 L,Petrol,Manual,Pune
21,Honda,Elevate,SUV,5 Seater,₹16.67 L,Petrol,Automatic,Pune
22,Hyundai,Exter,SUV,5 Seater,₹9.03 L,Petrol,Manual,Pune
23,Maruti,Suzuki Fronx,SUV,5 Seater,₹9.70 L,CNG,Manual,Pune
24,Hyundai,Verna,Sedan,5 Seater,₹19.54 L,Petrol,Automatic,Pune
25,Tata,Harrier,SUV,5 Seater,₹20.55 L,Diesel,Manual,Pune
26,MG,Astor,SUV,5 Seater,₹11.64 L,Petrol,Manual,Pune
27,Tata,Punch EV,SUV,5 Seater,₹12.06 L,Electric,Automatic,Pune
28,Tata,Safari,SUV,6 Seater,₹26.83 L,Diesel,Manual,Pune
29,Maruti,Suzuki Alto K10,Hatchback,5 Seater,₹6.82 L,CNG,Manual,Pune
30,Tata,Curvv,SUV,5 Seater,₹14.81 L,Petrol,Manual,Pune
31,Maruti,Suzuki Ignis,Hatchback,5 Seater,₹8.32 L,Petrol,Manual,Pune
32,MG,Hector,SUV,5 Seater,₹19.75 L,Petrol,Manual,Pune
33,Maruti,Suzuki Celerio,Hatchback,5 Seater,₹6.78 L,Petrol,Manual,Pune
34,Hyundai,i20,Hatchback,5 Seater,₹9.28 L,Petrol,Manual,Pune
35,MG,ZS EV,SUV,5 Seater,₹20.25 L,Electric,Automatic,Pune
36,Maruti,Suzuki Ciaz,Sedan,5 Seater,₹11.17 L,Petrol,Manual,Pune
37,Maruti,Suzuki S-Presso,SUV,4 Seater,₹6.03 L,Petrol,Manual,Pune
38,MG,Hector Plus,SUV,7 Seater,₹21.19 L,Diesel,Manual,Pune
39,Maruti,Suzuki Swift,Hatchback,5 Seater,₹7.80 L,Petrol,Manual,Pune
40,MG,Comet EV,Hatchback,4 Seater,₹8.57 L,Electric,Automatic,Pune
41,Maruti,Suzuki Jimny,SUV,4 Seater,₹15.28 L,Petrol,Manual,Pune
42,Hyundai,Creta N Line,SUV,5 Seater,₹23.19 L,Petrol,Manual,Pune
43,Tata,Tiago,Hatchback,5 Seater,₹6.94 L,Petrol,Manual,Pune
44,Tata,Tiago EV,Hatchback,5 Seater,₹10.89 L,Electric,Automatic,Pune
45,Tata,Tigor,Compact,5 Seater,₹8.85 L,CNG,Manual,Pune
46,Hyundai,Creta Electric,SUV,5 Seater,₹22.38 L,Electric,Automatic,Pune
47,Hyundai,Alcazar,SUV,7 Seater,₹25.30 L,Petrol,Automatic,Pune
48,Tata,Punch,SUV,5 Seater,₹8.96 L,Petrol,Manual,Pune
49,Maruti,Suzuki Dzire,Sedan,5 Seater,₹10.08 L,CNG,Manual,Pune
50,Honda,Amaze,Sedan,5 Seater,₹9.42 L,Petrol,Manual,Pune

In [43]:
brand= []
Type = []
seating = []
model = []
fuel_type=[]
gear_type=[]
price=[]
Location=[]
for i in range(1,16):
    page = requests.get(f"https://ackodrive.com/collection/express-delivery-cars/jaipur/page/{i}/")
    soup = BeautifulSoup(page.text)
    for i in soup.find_all('div',class_='styles__Wrapper-sc-8077a65d-0 fZOnVd'):
        rm= i.find('h2',class_='styles__ModelTitle-sc-aa3bd0b2-4 ikEBAq')
        if rm:
            b=re.findall('^[A-Za-z]+',rm.text)
            if b:
                brand.append(b[0])
            else:
                brand.append(np.nan)
                
            m = re.findall("^[A-Za-z]+\s(.+)",rm.text)
            if m:
                model.append(m[0])
            else:
                model.append(np.nan)
        p=i.find('div',class_='styles__Price-sc-aa3bd0b2-18 bzmdsn')
        if p:
            price.append(p.text)
        else:
            price.append(np.nan)
        reg = i.find('div','styles__VariantInfo-sc-aa3bd0b2-12 kCNdrj')
        if reg:
            f = re.findall('Petrol|Diesel|CNG|Electric',reg.text)
            if f:
                fuel_type .append(f[0])
            else:
                fuel_type.append(np.nan)
            g=re.findall('Manual|Automatic',reg.text)
            if g:
                gear_type.append(g[0])
            else:
                gear_type.append(np.nan)
        regex = i.find('div',class_='styles__ModelInfo-sc-aa3bd0b2-8 cEyrJI') 
        if regex:
            t = re.findall(r'^[A-Za-z]+',regex.text)
            if len(t)>0:
                Type.append(t[0])
            else:
                Type.append(np.nan)
            s = re.findall('\d\sSeater',regex.text)
            if s:
                seating.append(s[0])
            else:
                seating.append(np.nan)
            v = re.findall('Seater(.*)',regex.text)
        l = i.find('div',class_='styles__CityName-sc-aa3bd0b2-17 bysq')
        if l:
            lo = re.findall('in\s(.*)',l.text)
            if lo: 
                Location.append(lo[0])
            else:
                Location.append(np.nan)

<>:21: SyntaxWarning: invalid escape sequence '\s'
<>:50: SyntaxWarning: invalid escape sequence '\d'
<>:58: SyntaxWarning: invalid escape sequence '\s'
<>:21: SyntaxWarning: invalid escape sequence '\s'
<>:50: SyntaxWarning: invalid escape sequence '\d'
<>:58: SyntaxWarning: invalid escape sequence '\s'
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\2736365333.py:21: SyntaxWarning: invalid escape sequence '\s'
  m = re.findall("^[A-Za-z]+\s(.+)",rm.text)
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\2736365333.py:50: SyntaxWarning: invalid escape sequence '\d'
  s = re.findall('\d\sSeater',regex.text)
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\2736365333.py:58: SyntaxWarning: invalid escape sequence '\s'
  lo = re.findall('in\s(.*)',l.text)

In [45]:
jaipur= pd.DataFrame({'Brand':brand,'Model':model,'Type':Type,
                        'Seats':seating,'Price':price,'Fuel':fuel_type,
                        'Gear_type':gear_type,'Location':Location})

In [47]:
jaipur

,Brand,Model,Type,Seats,Price,Fuel,Gear_type,Location
0,Hyundai,Aura,Sedan,5 Seater,₹8.71 L,CNG,Manual,Jaipur
1,Hyundai,Creta,SUV,5 Seater,₹18.23 L,Petrol,Manual,Jaipur
2,Hyundai,Exter,SUV,5 Seater,₹9.10 L,Petrol,Manual,Jaipur
3,Hyundai,Grand i10 Nios,Hatchback,5 Seater,₹9.00 L,Petrol,Automatic,Jaipur
4,Hyundai,i20,Hatchback,5 Seater,₹9.17 L,Petrol,Manual,Jaipur
5,Hyundai,Venue,SUV,5 Seater,₹13.12 L,Petrol,Manual,Jaipur
6,Hyundai,Verna,Sedan,5 Seater,₹15.59 L,Petrol,Manual,Jaipur
7,Maruti,Suzuki Baleno,Hatchback,5 Seater,₹8.65 L,Petrol,Manual,Jaipur
8,Maruti,Suzuki Celerio,Hatchback,5 Seater,₹7.03 L,Petrol,Manual,Jaipur
9,Maruti,Suzuki Ciaz,Sedan,5 Seater,₹10.88 L,Petrol,Manual,Jaipur
10,Maruti,Suzuki Eeco,Minivan,5 Seater,₹6.50 L,Petrol,Manual,Jaipur
11,Maruti,Suzuki Fronx,SUV,5 Seater,₹8.67 L,Petrol,Manual,Jaipur
12,Maruti,Suzuki Ignis,Hatchback,5 Seater,₹6.78 L,Petrol,Manual,Jaipur
13,Maruti,Suzuki New Grand Vitara,SUV,5 Seater,₹17.34 L,CNG,Manual,Jaipur
14,Maruti,Suzuki Swift,Hatchback,5 Seater,₹7.49 L,Petrol,Manual,Jaipur
15,Maruti,Suzuki Wagon R,Hatchback,5 Seater,₹6.89 L,Petrol,Manual,Jaipur
16,Maruti,Suzuki XL6,SUV,6 Seater,₹14.60 L,CNG,Manual,Jaipur
17,Tata,Altroz,Hatchback,5 Seater,₹7.72 L,Petrol,Manual,Jaipur
18,Tata,Harrier,SUV,5 Seater,₹22.70 L,Diesel,Manual,Jaipur
19,Tata,Curvv,SUV,5 Seater,₹16.13 L,Petrol,Manual,Jaipur
20,Tata,Curvv EV,SUV,5 Seater,₹18.60 L,Electric,Automatic,Jaipur
21,Tata,Nexon,SUV,5 Seater,₹10.31 L,Petrol,Manual,Jaipur
22,Tata,Nexon EV,SUV,5 Seater,₹16.04 L,Electric,Automatic,Jaipur
23,Tata,Punch,SUV,5 Seater,₹7.23 L,Petrol,Manual,Jaipur
24,Tata,Punch EV,SUV,5 Seater,₹10.57 L,Electric,Automatic,Jaipur
25,Tata,Safari,SUV,6 Seater,₹18.67 L,Diesel,Manual,Jaipur

In [49]:
brand= []
Type = []
seating = []
model = []
fuel_type=[]
gear_type=[]
price=[]
Location=[]
for i in range(1,11):
    page = requests.get(f"https://ackodrive.com/collection/express-delivery-cars/noida/page/{i}/")
    soup = BeautifulSoup(page.text)
    for i in soup.find_all('div',class_='styles__Wrapper-sc-8077a65d-0 fZOnVd'):
        rm= i.find('h2',class_='styles__ModelTitle-sc-aa3bd0b2-4 ikEBAq')
        if rm:
            b=re.findall('^[A-Za-z]+',rm.text)
            if b:
                brand.append(b[0])
            else:
                brand.append(np.nan)
                
            m = re.findall("^[A-Za-z]+\s(.+)",rm.text)
            if m:
                model.append(m[0])
            else:
                model.append(np.nan)
        p=i.find('div',class_='styles__Price-sc-aa3bd0b2-18 bzmdsn')
        if p:
            price.append(p.text)
        else:
            price.append(np.nan)
        reg = i.find('div','styles__VariantInfo-sc-aa3bd0b2-12 kCNdrj')
        if reg:
            f = re.findall('Petrol|Diesel|CNG|Electric',reg.text)
            if f:
                fuel_type .append(f[0])
            else:
                fuel_type.append(np.nan)
            g=re.findall('Manual|Automatic',reg.text)
            if g:
                gear_type.append(g[0])
            else:
                gear_type.append(np.nan)
        regex = i.find('div',class_='styles__ModelInfo-sc-aa3bd0b2-8 cEyrJI') 
        if regex:
            t = re.findall(r'^[A-Za-z]+',regex.text)
            if len(t)>0:
                Type.append(t[0])
            else:
                Type.append(np.nan)
            s = re.findall('\d\sSeater',regex.text)
            if s:
                seating.append(s[0])
            else:
                seating.append(np.nan)
            v = re.findall('Seater(.*)',regex.text)
        l = i.find('div',class_='styles__CityName-sc-aa3bd0b2-17 bysq')
        if l:
            lo = re.findall('in\s(.*)',l.text)
            if lo: 
                Location.append(lo[0])
            else:
                Location.append(np.nan)

<>:21: SyntaxWarning: invalid escape sequence '\s'
<>:50: SyntaxWarning: invalid escape sequence '\d'
<>:58: SyntaxWarning: invalid escape sequence '\s'
<>:21: SyntaxWarning: invalid escape sequence '\s'
<>:50: SyntaxWarning: invalid escape sequence '\d'
<>:58: SyntaxWarning: invalid escape sequence '\s'
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\800738032.py:21: SyntaxWarning: invalid escape sequence '\s'
  m = re.findall("^[A-Za-z]+\s(.+)",rm.text)
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\800738032.py:50: SyntaxWarning: invalid escape sequence '\d'
  s = re.findall('\d\sSeater',regex.text)
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\800738032.py:58: SyntaxWarning: invalid escape sequence '\s'
  lo = re.findall('in\s(.*)',l.text)

In [51]:
noida= pd.DataFrame({'Brand':brand,'Model':model,'Type':Type,
                        'Seats':seating,'Price':price,'Fuel':fuel_type,
                        'Gear_type':gear_type,'Location':Location})

In [53]:
noida

,Brand,Model,Type,Seats,Price,Fuel,Gear_type,Location
0,Tata,Nexon,SUV,5 Seater,₹9.07 L,Petrol,Manual,Noida
1,Maruti,Suzuki Baleno,Hatchback,5 Seater,₹9.65 L,Petrol,Manual,Noida
2,Tata,Punch,SUV,5 Seater,₹8.52 L,Petrol,Manual,Noida
3,Hyundai,Grand i10 Nios,Hatchback,5 Seater,₹6.84 L,Petrol,Manual,Noida
4,Hyundai,Aura,Sedan,5 Seater,₹9.23 L,Petrol,Manual,Noida
5,Maruti,Suzuki Wagon R,Hatchback,5 Seater,₹6.26 L,Petrol,Manual,Noida
6,Maruti,Suzuki Swift,Hatchback,5 Seater,₹10.13 L,Petrol,Manual,Noida
7,Tata,Altroz,Hatchback,5 Seater,₹7.56 L,Petrol,Manual,Noida
8,Maruti,Suzuki Celerio,Hatchback,5 Seater,₹6.06 L,Petrol,Manual,Noida
9,Hyundai,Creta,SUV,5 Seater,₹12.79 L,Petrol,Manual,Noida
10,Renault,Triber,MPV,7 Seater,₹6.95 L,Petrol,Manual,Noida
11,Renault,Kwid,Hatchback,5 Seater,₹5.82 L,Petrol,Manual,Noida
12,Maruti,Suzuki Ciaz,Sedan,5 Seater,₹12.09 L,Petrol,Manual,Noida
13,Renault,Kiger,SUV,5 Seater,₹6.95 L,Petrol,Manual,Noida
14,Toyota,Glanza,Hatchback,5 Seater,₹8.83 L,Petrol,Manual,Noida
15,Hyundai,i20 N Line,Hatchback,5 Seater,₹11.21 L,Petrol,Manual,Noida
16,Nissan,Magnite (2020-2024),SUV,5 Seater,₹8.65 L,Petrol,Automatic,Noida
17,Honda,City,Sedan,5 Seater,₹14.29 L,Petrol,Manual,Noida
18,Hyundai,Venue N-Line,SUV,5 Seater,₹13.95 L,Petrol,Manual,Noida
19,Maruti,Suzuki New Grand Vitara,SUV,5 Seater,₹23.61 L,Petrol,Automatic,Noida
20,Hyundai,Venue,SUV,5 Seater,₹9.00 L,Petrol,Manual,Noida
21,Hyundai,Verna,Sedan,5 Seater,₹15.10 L,Petrol,Manual,Noida
22,Tata,Harrier,SUV,5 Seater,₹20.09 L,Diesel,Manual,Noida
23,Hyundai,Exter,SUV,5 Seater,₹6.86 L,Petrol,Manual,Noida
24,Toyota,Rumion,SUV,7 Seater,₹13.21 L,CNG,Manual,Noida
25,Kia,Sonet,SUV,5 Seater,₹18.20 L,Diesel,Automatic,Noida
26,Kia,Seltos,SUV,5 Seater,₹18.39 L,Petrol,Manual,Noida
27,Honda,Elevate,SUV,5 Seater,₹17.94 L,Petrol,Automatic,Noida
28,Kia,Carens,SUV,7 Seater,₹13.98 L,Petrol,Manual,Noida
29,Toyota,Urban Cruiser Hyryder,SUV,5 Seater,₹14.74 L,Petrol,Manual,Noida
30,Skoda,Slavia,Sedan,5 Seater,₹15.98 L,Petrol,Manual,Noida
31,Skoda,Kushaq,SUV,5 Seater,₹21.85 L,Petrol,Automatic,Noida
32,Maruti,Suzuki Fronx,SUV,5 Seater,₹9.92 L,Petrol,Manual,Noida
33,Tata,Safari,SUV,7 Seater,₹29.41 L,Diesel,Automatic,Noida
34,Hyundai,i20,Hatchback,5 Seater,₹8.83 L,Petrol,Manual,Noida
35,Maruti,Suzuki S-Presso,SUV,5 Seater,₹6.40 L,Petrol,Automatic,Noida
36,Maruti,Suzuki Ignis,Hatchback,5 Seater,₹6.70 L,Petrol,Manual,Noida
37,MG,ZS EV,SUV,5 Seater,₹21.98 L,Electric,Automatic,Noida
38,Hyundai,Creta N Line,SUV,5 Seater,₹19.37 L,Petrol,Manual,Noida
39,Tata,Tiago,Hatchback,5 Seater,₹7.20 L,Petrol,Manual,Noida
40,Toyota,Urban Cruiser Taisor,SUV,5 Seater,₹9.71 L,Petrol,Manual,Noida
41,Tata,Tigor,Compact,5 Seater,₹8.74 L,CNG,Manual,Noida
42,Maruti,Suzuki XL6,SUV,6 Seater,₹13.35 L,Petrol,Manual,Noida
43,Tata,Curvv,SUV,5 Seater,₹14.59 L,Petrol,Automatic,Noida
44,Hyundai,Creta Electric,SUV,5 Seater,₹25.74 L,Electric,Automatic,Noida
45,Hyundai,Alcazar,SUV,7 Seater,₹17.17 L,Petrol,Manual,Noida
46,Nissan,Magnite,SUV,5 Seater,₹8.24 L,Petrol,Manual,Noida
47,Honda,Amaze,Sedan,5 Seater,₹9.26 L,Petrol,Manual,Noida

In [55]:
brand= []
Type = []
seating = []
model = []
fuel_type=[]
gear_type=[]
price=[]
Location=[]
for i in range(1,15):
    page = requests.get(f"https://ackodrive.com/collection/express-delivery-cars/ghaziabad/page/{i}/")
    soup = BeautifulSoup(page.text)
    for i in soup.find_all('div',class_='styles__Wrapper-sc-8077a65d-0 fZOnVd'):
        rm= i.find('h2',class_='styles__ModelTitle-sc-aa3bd0b2-4 ikEBAq')
        if rm:
            b=re.findall('^[A-Za-z]+',rm.text)
            if b:
                brand.append(b[0])
            else:
                brand.append(np.nan)
                
            m = re.findall("^[A-Za-z]+\s(.+)",rm.text)
            if m:
                model.append(m[0])
            else:
                model.append(np.nan)
        p=i.find('div',class_='styles__Price-sc-aa3bd0b2-18 bzmdsn')
        if p:
            price.append(p.text)
        else:
            price.append(np.nan)
        reg = i.find('div','styles__VariantInfo-sc-aa3bd0b2-12 kCNdrj')
        if reg:
            f = re.findall('Petrol|Diesel|CNG|Electric',reg.text)
            if f:
                fuel_type .append(f[0])
            else:
                fuel_type.append(np.nan)
            g=re.findall('Manual|Automatic',reg.text)
            if g:
                gear_type.append(g[0])
            else:
                gear_type.append(np.nan)
        regex = i.find('div',class_='styles__ModelInfo-sc-aa3bd0b2-8 cEyrJI') 
        if regex:
            t = re.findall(r'^[A-Za-z]+',regex.text)
            if len(t)>0:
                Type.append(t[0])
            else:
                Type.append(np.nan)
            s = re.findall('\d\sSeater',regex.text)
            if s:
                seating.append(s[0])
            else:
                seating.append(np.nan)
            v = re.findall('Seater(.*)',regex.text)
        l = i.find('div',class_='styles__CityName-sc-aa3bd0b2-17 bysq')
        if l:
            lo = re.findall('in\s(.*)',l.text)
            if lo: 
                Location.append(lo[0])
            else:
                Location.append(np.nan)

<>:21: SyntaxWarning: invalid escape sequence '\s'
<>:50: SyntaxWarning: invalid escape sequence '\d'
<>:58: SyntaxWarning: invalid escape sequence '\s'
<>:21: SyntaxWarning: invalid escape sequence '\s'
<>:50: SyntaxWarning: invalid escape sequence '\d'
<>:58: SyntaxWarning: invalid escape sequence '\s'
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\2215816246.py:21: SyntaxWarning: invalid escape sequence '\s'
  m = re.findall("^[A-Za-z]+\s(.+)",rm.text)
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\2215816246.py:50: SyntaxWarning: invalid escape sequence '\d'
  s = re.findall('\d\sSeater',regex.text)
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\2215816246.py:58: SyntaxWarning: invalid escape sequence '\s'
  lo = re.findall('in\s(.*)',l.text)

In [57]:
ghaziabad= pd.DataFrame({'Brand':brand,'Model':model,'Type':Type,
                        'Seats':seating,'Price':price,'Fuel':fuel_type,
                        'Gear_type':gear_type,'Location':Location})

In [59]:
ghaziabad

,Brand,Model,Type,Seats,Price,Fuel,Gear_type,Location
0,Tata,Nexon,SUV,5 Seater,₹9.07 L,Petrol,Manual,Ghaziabad
1,Maruti,Suzuki Baleno,Hatchback,5 Seater,₹9.65 L,Petrol,Manual,Ghaziabad
2,Tata,Punch,SUV,5 Seater,₹8.52 L,Petrol,Manual,Ghaziabad
3,Hyundai,Grand i10 Nios,Hatchback,5 Seater,₹6.84 L,Petrol,Manual,Ghaziabad
4,Hyundai,Aura,Sedan,5 Seater,₹9.23 L,Petrol,Manual,Ghaziabad
5,Maruti,Suzuki Wagon R,Hatchback,5 Seater,₹6.26 L,Petrol,Manual,Ghaziabad
6,Maruti,Suzuki Swift,Hatchback,5 Seater,₹10.13 L,Petrol,Manual,Ghaziabad
7,Tata,Altroz,Hatchback,5 Seater,₹7.56 L,Petrol,Manual,Ghaziabad
8,Maruti,Suzuki Celerio,Hatchback,5 Seater,₹6.06 L,Petrol,Manual,Ghaziabad
9,Hyundai,Creta,SUV,5 Seater,₹12.79 L,Petrol,Manual,Ghaziabad
10,Renault,Triber,MPV,7 Seater,₹6.95 L,Petrol,Manual,Ghaziabad
11,Renault,Kwid,Hatchback,5 Seater,₹5.82 L,Petrol,Manual,Ghaziabad
12,Maruti,Suzuki Ciaz,Sedan,5 Seater,₹12.09 L,Petrol,Manual,Ghaziabad
13,Renault,Kiger,SUV,5 Seater,₹6.95 L,Petrol,Manual,Ghaziabad
14,Maruti,Suzuki XL6,SUV,6 Seater,₹13.35 L,Petrol,Manual,Ghaziabad
15,Toyota,Glanza,Hatchback,5 Seater,₹8.83 L,Petrol,Manual,Ghaziabad
16,Hyundai,i20 N Line,Hatchback,5 Seater,₹11.21 L,Petrol,Manual,Ghaziabad
17,Nissan,Magnite (2020-2024),SUV,5 Seater,₹8.65 L,Petrol,Automatic,Ghaziabad
18,Honda,City,Sedan,5 Seater,₹14.29 L,Petrol,Manual,Ghaziabad
19,Hyundai,Venue N-Line,SUV,5 Seater,₹13.95 L,Petrol,Manual,Ghaziabad
20,Maruti,Suzuki New Grand Vitara,SUV,5 Seater,₹23.61 L,Petrol,Automatic,Ghaziabad
21,Hyundai,Venue,SUV,5 Seater,₹9.00 L,Petrol,Manual,Ghaziabad
22,Skoda,Kushaq,SUV,5 Seater,₹21.85 L,Petrol,Automatic,Ghaziabad
23,Toyota,Rumion,SUV,7 Seater,₹13.21 L,CNG,Manual,Ghaziabad
24,Honda,Elevate,SUV,5 Seater,₹17.94 L,Petrol,Automatic,Ghaziabad
25,Hyundai,Exter,SUV,5 Seater,₹6.86 L,Petrol,Manual,Ghaziabad
26,Maruti,Suzuki Fronx,SUV,5 Seater,₹9.92 L,Petrol,Manual,Ghaziabad
27,Hyundai,Verna,Sedan,5 Seater,₹15.10 L,Petrol,Manual,Ghaziabad
28,Tata,Harrier,SUV,5 Seater,₹20.09 L,Diesel,Manual,Ghaziabad
29,Toyota,Urban Cruiser Hyryder,SUV,5 Seater,₹14.74 L,Petrol,Manual,Ghaziabad
30,Kia,Sonet,SUV,5 Seater,₹18.20 L,Diesel,Automatic,Ghaziabad
31,Kia,Seltos,SUV,5 Seater,₹18.39 L,Petrol,Manual,Ghaziabad
32,Kia,Carens,SUV,7 Seater,₹13.98 L,Petrol,Manual,Ghaziabad
33,Skoda,Slavia,Sedan,5 Seater,₹15.98 L,Petrol,Manual,Ghaziabad
34,Hyundai,i20,Hatchback,5 Seater,₹8.83 L,Petrol,Manual,Ghaziabad
35,Tata,Safari,SUV,7 Seater,₹29.41 L,Diesel,Automatic,Ghaziabad
36,Maruti,Suzuki S-Presso,SUV,5 Seater,₹6.40 L,Petrol,Automatic,Ghaziabad
37,Maruti,Suzuki Ignis,Hatchback,5 Seater,₹6.70 L,Petrol,Manual,Ghaziabad
38,MG,ZS EV,SUV,5 Seater,₹21.98 L,Electric,Automatic,Ghaziabad
39,Hyundai,Creta N Line,SUV,5 Seater,₹19.37 L,Petrol,Manual,Ghaziabad
40,Tata,Tiago,Hatchback,5 Seater,₹7.20 L,Petrol,Manual,Ghaziabad
41,Toyota,Urban Cruiser Taisor,SUV,5 Seater,₹9.71 L,Petrol,Manual,Ghaziabad
42,Tata,Tigor,Compact,5 Seater,₹8.74 L,CNG,Manual,Ghaziabad
43,Tata,Curvv,SUV,5 Seater,₹14.59 L,Petrol,Automatic,Ghaziabad
44,Hyundai,Creta Electric,SUV,5 Seater,₹25.74 L,Electric,Automatic,Ghaziabad
45,Hyundai,Alcazar,SUV,7 Seater,₹17.17 L,Petrol,Manual,Ghaziabad
46,Nissan,Magnite,SUV,5 Seater,₹8.24 L,Petrol,Manual,Ghaziabad
47,Honda,Amaze,Sedan,5 Seater,₹9.26 L,Petrol,Manual,Ghaziabad

In [61]:
brand= []
Type = []
seating = []
model = []
fuel_type=[]
gear_type=[]
price=[]
Location=[]
for i in range(1,21):
    page = requests.get(f"https://ackodrive.com/collection/express-delivery-cars/hyderabad/page/{i}/")
    soup = BeautifulSoup(page.text)
    for i in soup.find_all('div',class_='styles__Wrapper-sc-8077a65d-0 fZOnVd'):
        rm= i.find('h2',class_='styles__ModelTitle-sc-aa3bd0b2-4 ikEBAq')
        if rm:
            b=re.findall('^[A-Za-z]+',rm.text)
            if b:
                brand.append(b[0])
            else:
                brand.append(np.nan)
                
            m = re.findall("^[A-Za-z]+\s(.+)",rm.text)
            if m:
                model.append(m[0])
            else:
                model.append(np.nan)
        p=i.find('div',class_='styles__Price-sc-aa3bd0b2-18 bzmdsn')
        if p:
            price.append(p.text)
        else:
            price.append(np.nan)
        reg = i.find('div','styles__VariantInfo-sc-aa3bd0b2-12 kCNdrj')
        if reg:
            f = re.findall('Petrol|Diesel|CNG|Electric',reg.text)
            if f:
                fuel_type .append(f[0])
            else:
                fuel_type.append(np.nan)
            g=re.findall('Manual|Automatic',reg.text)
            if g:
                gear_type.append(g[0])
            else:
                gear_type.append(np.nan)
        regex = i.find('div',class_='styles__ModelInfo-sc-aa3bd0b2-8 cEyrJI') 
        if regex:
            t = re.findall(r'^[A-Za-z]+',regex.text)
            if len(t)>0:
                Type.append(t[0])
            else:
                Type.append(np.nan)
            s = re.findall('\d\sSeater',regex.text)
            if s:
                seating.append(s[0])
            else:
                seating.append(np.nan)
            v = re.findall('Seater(.*)',regex.text)
        l = i.find('div',class_='styles__CityName-sc-aa3bd0b2-17 bysq')
        if l:
            lo = re.findall('in\s(.*)',l.text)
            if lo: 
                Location.append(lo[0])
            else:
                Location.append(np.nan)

<>:21: SyntaxWarning: invalid escape sequence '\s'
<>:50: SyntaxWarning: invalid escape sequence '\d'
<>:58: SyntaxWarning: invalid escape sequence '\s'
<>:21: SyntaxWarning: invalid escape sequence '\s'
<>:50: SyntaxWarning: invalid escape sequence '\d'
<>:58: SyntaxWarning: invalid escape sequence '\s'
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\1753884651.py:21: SyntaxWarning: invalid escape sequence '\s'
  m = re.findall("^[A-Za-z]+\s(.+)",rm.text)
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\1753884651.py:50: SyntaxWarning: invalid escape sequence '\d'
  s = re.findall('\d\sSeater',regex.text)
C:\Users\srava\AppData\Local\Temp\ipykernel_5688\1753884651.py:58: SyntaxWarning: invalid escape sequence '\s'
  lo = re.findall('in\s(.*)',l.text)

In [63]:
hyderabad= pd.DataFrame({'Brand':brand,'Model':model,'Type':Type,
                        'Seats':seating,'Price':price,'Fuel':fuel_type,
                        'Gear_type':gear_type,'Location':Location})

In [65]:
hyderabad

,Brand,Model,Type,Seats,Price,Fuel,Gear_type,Location
0,Tata,Nexon,SUV,5 Seater,₹10.63 L,Petrol,Manual,Hyderabad
1,Tata,Punch,SUV,5 Seater,₹9.90 L,Petrol,Manual,Hyderabad
2,Hyundai,Grand i10 Nios,Hatchback,5 Seater,₹8.97 L,Petrol,Manual,Hyderabad
3,Tata,Curvv EV,SUV,5 Seater,₹21.23 L,Electric,Automatic,Hyderabad
4,Hyundai,Aura,Sedan,5 Seater,₹9.82 L,Petrol,Manual,Hyderabad
5,Tata,Altroz,Hatchback,5 Seater,₹10.13 L,CNG,Manual,Hyderabad
6,Hyundai,Venue,SUV,5 Seater,₹15.40 L,Diesel,Manual,Hyderabad
7,Hyundai,Creta,SUV,5 Seater,₹15.22 L,Petrol,Manual,Hyderabad
8,Hyundai,i20 N Line,Hatchback,5 Seater,₹13.94 L,Petrol,Manual,Hyderabad
9,Honda,Amaze (2021-2024),Sedan,5 Seater,₹10.34 L,Petrol,Automatic,Hyderabad
10,Honda,City,Sedan,5 Seater,₹15.77 L,Petrol,Manual,Hyderabad
11,Maruti,Suzuki XL6,SUV,6 Seater,₹15.71 L,CNG,Manual,Hyderabad
12,Maruti,Suzuki Ciaz,Sedan,5 Seater,₹11.57 L,Petrol,Manual,Hyderabad
13,Tata,Nexon EV,SUV,5 Seater,₹18.11 L,Electric,Automatic,Hyderabad
14,Maruti,Suzuki New Grand Vitara,SUV,5 Seater,₹15.18 L,Petrol,Manual,Hyderabad
15,Mahindra,Scorpio-N,SUV,7 Seater,₹18.12 L,Diesel,Manual,Hyderabad
16,Mahindra,XUV700,SUV,7 Seater,₹22.90 L,Diesel,Manual,Hyderabad
17,Toyota,Urban Cruiser Hyryder,SUV,5 Seater,₹17.95 L,Petrol,Manual,Hyderabad
18,Toyota,Glanza,Hatchback,5 Seater,₹10.03 L,Petrol,Automatic,Hyderabad
19,MG,ZS EV,SUV,5 Seater,₹26.69 L,Electric,Automatic,Hyderabad
20,MG,Hector Plus,SUV,7 Seater,₹21.55 L,Diesel,Manual,Hyderabad
21,MG,Hector,SUV,5 Seater,₹20.49 L,Petrol,Manual,Hyderabad
22,MG,Comet EV,Hatchback,4 Seater,₹8.64 L,Electric,Automatic,Hyderabad
23,MG,Astor,SUV,5 Seater,₹12.00 L,Petrol,Manual,Hyderabad
24,Kia,Sonet,SUV,5 Seater,₹19.05 L,Diesel,Automatic,Hyderabad
25,Kia,Seltos,SUV,5 Seater,₹19.23 L,Petrol,Manual,Hyderabad
26,Kia,Carens,SUV,7 Seater,₹13.78 L,Petrol,Manual,Hyderabad
27,Toyota,Rumion,SUV,7 Seater,₹13.00 L,Petrol,Manual,Hyderabad
28,Skoda,Slavia,Sedan,5 Seater,₹19.60 L,Petrol,Manual,Hyderabad
29,Skoda,Kushaq,SUV,5 Seater,₹13.53 L,Petrol,Manual,Hyderabad
30,Honda,Elevate,SUV,5 Seater,₹20.28 L,Petrol,Automatic,Hyderabad
31,Hyundai,Exter,SUV,5 Seater,₹7.94 L,Petrol,Manual,Hyderabad
32,Maruti,Suzuki Fronx,SUV,5 Seater,₹10.54 L,Petrol,Manual,Hyderabad
33,Hyundai,Verna,Sedan,5 Seater,₹18.27 L,Petrol,Manual,Hyderabad
34,Tata,Harrier,SUV,5 Seater,₹32.20 L,Diesel,Automatic,Hyderabad
35,Maruti,Suzuki Baleno,Hatchback,5 Seater,₹9.72 L,Petrol,Automatic,Hyderabad
36,Maruti,Suzuki Celerio,Hatchback,5 Seater,₹7.14 L,Petrol,Manual,Hyderabad
37,Tata,Punch EV,SUV,5 Seater,₹13.61 L,Electric,Automatic,Hyderabad
38,Hyundai,i20,Hatchback,5 Seater,₹9.41 L,Petrol,Manual,Hyderabad
39,Mahindra,XUV 3XO,SUV,5 Seater,₹13.74 L,Diesel,Manual,Hyderabad
40,Maruti,Suzuki Alto K10,Hatchback,5 Seater,₹6.56 L,Petrol,Manual,Hyderabad
41,Tata,Curvv,SUV,5 Seater,₹14.59 L,Petrol,Manual,Hyderabad
42,Maruti,Suzuki S-Presso,SUV,5 Seater,₹6.75 L,Petrol,Manual,Hyderabad
43,Maruti,Suzuki Swift,Hatchback,5 Seater,₹10.95 L,Petrol,Manual,Hyderabad
44,Maruti,Suzuki Wagon R,Hatchback,5 Seater,₹7.70 L,Petrol,Manual,Hyderabad
45,Hyundai,Creta N Line,SUV,5 Seater,₹25.27 L,Petrol,Automatic,Hyderabad
46,Toyota,Urban Cruiser Taisor,SUV,5 Seater,₹10.80 L,Petrol,Manual,Hyderabad
47,Tata,Safari,SUV,7 Seater,₹32.66 L,Diesel,Automatic,Hyderabad
48,Mahindra,Thar,SUV,4 Seater,₹20.02 L,Diesel,Manual,Hyderabad
49,Hyundai,Alcazar,SUV,6 Seater,₹26.00 L,Petrol,Automatic,Hyderabad
50,MG,Windsor EV,SUV,5 Seater,₹15.10 L,Electric,Automatic,Hyderabad
51,Nissan,Magnite,SUV,5 Seater,₹8.05 L,Petrol,Automatic,Hyderabad
52,Maruti,Suzuki Dzire,Sedan,5 Seater,₹10.82 L,Petrol,Manual,Hyderabad

In [109]:
df = pd.concat([hyderabad,mumbai,chennai,banglore,delhi,Gurgaon,pune,ghaziabad,noida,jaipur],ignore_index=True)

In [111]:
df

,Brand,Model,Type,Seats,Price,Fuel,Gear_type,Location
0,Tata,Nexon,SUV,5 Seater,₹10.63 L,Petrol,Manual,Hyderabad
1,Tata,Punch,SUV,5 Seater,₹9.90 L,Petrol,Manual,Hyderabad
2,Hyundai,Grand i10 Nios,Hatchback,5 Seater,₹8.97 L,Petrol,Manual,Hyderabad
3,Tata,Curvv EV,SUV,5 Seater,₹21.23 L,Electric,Automatic,Hyderabad
4,Hyundai,Aura,Sedan,5 Seater,₹9.82 L,Petrol,Manual,Hyderabad
...,...,...,...,...,...,...,...,...
521,Tata,Nexon,SUV,5 Seater,₹10.31 L,Petrol,Manual,Jaipur
522,Tata,Nexon EV,SUV,5 Seater,₹16.04 L,Electric,Automatic,Jaipur
523,Tata,Punch,SUV,5 Seater,₹7.23 L,Petrol,Manual,Jaipur
524,Tata,Punch EV,SUV,5 Seater,₹10.57 L,Electric,Automatic,Jaipur
525,Tata,Safari,SUV,6 Seater,₹18.67 L,Diesel,Manual,Jaipur

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Brand      526 non-null    object
 1   Model      526 non-null    object
 2   Type       526 non-null    object
 3   Seats      526 non-null    object
 4   Price      526 non-null    object
 5   Fuel       526 non-null    object
 6   Gear_type  526 non-null    object
 7   Location   526 non-null    object
dtypes: object(8)
memory usage: 33.0+ KB

In [115]:
df.columns

Index(['Brand', 'Model', 'Type', 'Seats', 'Price', 'Fuel', 'Gear_type',
       'Location'],
      dtype='object')

In [117]:
df.head()

,Brand,Model,Type,Seats,Price,Fuel,Gear_type,Location
0,Tata,Nexon,SUV,5 Seater,₹10.63 L,Petrol,Manual,Hyderabad
1,Tata,Punch,SUV,5 Seater,₹9.90 L,Petrol,Manual,Hyderabad
2,Hyundai,Grand i10 Nios,Hatchback,5 Seater,₹8.97 L,Petrol,Manual,Hyderabad
3,Tata,Curvv EV,SUV,5 Seater,₹21.23 L,Electric,Automatic,Hyderabad
4,Hyundai,Aura,Sedan,5 Seater,₹9.82 L,Petrol,Manual,Hyderabad

In [119]:
df.tail()

    Brand     Model Type     Seats     Price      Fuel  Gear_type Location
521  Tata     Nexon  SUV  5 Seater  ₹10.31 L    Petrol     Manual   Jaipur
522  Tata  Nexon EV  SUV  5 Seater  ₹16.04 L  Electric  Automatic   Jaipur
523  Tata     Punch  SUV  5 Seater   ₹7.23 L    Petrol     Manual   Jaipur
524  Tata  Punch EV  SUV  5 Seater  ₹10.57 L  Electric  Automatic   Jaipur
525  Tata    Safari  SUV  6 Seater  ₹18.67 L    Diesel     Manual   Jaipur

In [121]:
df.shape

(526, 8)

In [123]:
df.describe(include=object)

         Brand  Model Type     Seats     Price    Fuel Gear_type Location
count      526    526  526       526       526     526       526      526
unique      12     72    6         4       410       4         2       10
top     Maruti  Nexon  SUV  5 Seater  ₹10.13 L  Petrol    Manual    Delhi
freq       120     10  315       444         5     379       377       65

In [125]:
df.isnull().sum()

Brand        0
Model        0
Type         0
Seats        0
Price        0
Fuel         0
Gear_type    0
Location     0
dtype: int64

In [127]:
[i for i in df.isnull()]

['Brand', 'Model', 'Type', 'Seats', 'Price', 'Fuel', 'Gear_type', 'Location']

In [129]:
df.rename(columns={'Gear_type':'Transmission'},inplace=True)

In [133]:
df['Price']=df['Price'].str.replace('₹','').str.replace('L','')

In [147]:
df['Price']=df['Price'].astype(int)

In [143]:
df['Price']=df['Price']*100000

In [149]:
df

,Brand,Model,Type,Seats,Price,Fuel,Transmission,Location
0,Tata,Nexon,SUV,5 Seater,1063000,Petrol,Manual,Hyderabad
1,Tata,Punch,SUV,5 Seater,990000,Petrol,Manual,Hyderabad
2,Hyundai,Grand i10 Nios,Hatchback,5 Seater,897000,Petrol,Manual,Hyderabad
3,Tata,Curvv EV,SUV,5 Seater,2123000,Electric,Automatic,Hyderabad
4,Hyundai,Aura,Sedan,5 Seater,982000,Petrol,Manual,Hyderabad
...,...,...,...,...,...,...,...,...
521,Tata,Nexon,SUV,5 Seater,1031000,Petrol,Manual,Jaipur
522,Tata,Nexon EV,SUV,5 Seater,1604000,Electric,Automatic,Jaipur
523,Tata,Punch,SUV,5 Seater,723000,Petrol,Manual,Jaipur
524,Tata,Punch EV,SUV,5 Seater,1057000,Electric,Automatic,Jaipur
525,Tata,Safari,SUV,6 Seater,1867000,Diesel,Manual,Jaipur